.main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main .headline {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #e05e07;
  text-align: center;
}

.recipes {
  border-style: solid;
  border-width: 10px;
  border-color: #70707020;
  background-color: #ffedbc;
}

.recipe-links {
  font-size: 18px;
}